HelloUnreal/Saved/
HelloUnreal/Intermediate/
HelloUnreal/DerivedDataCache/
FirstGame/Saved/
FirstGame/Intermediate/
FirstGame/DerivedDataCache/
FirstGame/Binaries
FirstGame/Build
TrainingProject/Saved/
TrainingProject/Intermediate/
TrainingProject/DerivedDataCache/
AnimProject/Saved/
AnimProject/Intermediate/
AnimProject/DerivedDataCache/

